@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --maxWidthWrapper: 576px;
    --containerPadding: 25px;
    --maxWidthContainer: calc(576px - var(--containerPadding) * 2);
    --header-height: 65px;
    --font-size-input: 1.25rem;
    --color-1: #afb0c8;
    --color-2: #565d93;
    --color-3: #f2b943;
    --color-4: #f3f4f2;
    --color-5: #e76769;
    --color-6: #ffffff;
    --color-7: #2c2e40;
    --color-8: #dee3e6;
    --color-9: #636263;
    --color-10: #75bc6a;
    --color-11: #ccd5da;
    --color-12: #af4c4e;
    --color-13: #959da1;
    --font-color-primary: #2c2e40;
    --font-color-logo: #2c2e40;
    --font-color-title: #2c2e40;
    --button-font-color-primary: #ffffff;
    --button-color-primary: #e76769;
    --button-color-primary-stroke: #af4c4e;
    --button-color-primary-hover: #af4c4e;
    --button-font-color-secondary: #959da1;
    --button-color-secondary: #f3f4f2;
    --button-color-secondary-stroke: #dee3e6;
    --button-color-secondary-hover: #dee3e6;
    --background-color-primary: #ffffff;
    --header-z-index: 1998;
    --header-menu-z-index: 1999;
    --popup-z-index: 1999;
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
}

body {
    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--font-color-primary);
    background-color: var(--background-color-primary);
}

body.no-scroll {
    overflow: hidden;
}

.button {
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--button-font-color-primary);
    border-radius: 7px;
    background-color: var(--button-color-primary);
    box-shadow: 0px -2px 0px 0px var(--button-color-primary-stroke) inset;
    outline: none;
    border: none;
}

.button_secondary {
    color: var(--button-font-color-secondary);
    background-color: var(--button-color-secondary);
    box-shadow: 0px -2px 0px 0px var(--button-color-secondary-stroke) inset;
}

.button_sm {
    width: auto;
    min-height: 40px;
    padding: 0 2.5em;
    font-size: 0.75rem;
}

/*
<div class="input" data-input-required>
  <span class="input__label input__label_required"
    >Обязательное поле</span
  >
  <input class="input__main" type="text" placeholder="Ведите текст"/>
  <p class="input__info">Для получения договора и документов об оплате</p>
  <p class="input__error">Заполните поле</p>
</div>
*/
.input {
    font-size: var(--font-size-input);
    color: var(--font-color-primary);
}

.input.error .input__error {
    display: block;
}

.input.error .input__main {
    border-color: var(--color-5);
}

.input__label {
    margin: 0 0 0.5em 0;
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
}

.input__label_required::after {
    content: "*";
    padding: 0 0 0 0.1em;
    font-size: 1em;
    color: var(--color-5);
}

.input__main {
    width: 100%;
    min-height: 2em;
    padding: 0 0.75em;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
    border: 1px solid var(--color-8);
    border-radius: 0.35em;
    transition: border 0.15s linear;
}

.input__main::-moz-placeholder {
    color: var(--color-13);
}

.input__main::placeholder {
    color: var(--color-13);
}

.input__main:focus {
    border-color: var(--color-13);
}

textarea.input__main {
    padding: 0.6em 0.75em;
    height: 4.35em;
    resize: none;
}

.input__info,
.input__error {
    margin: 0.545em 0 0 0;
    display: block;
    font-size: 0.55em;
    font-weight: 500;
    line-height: 1.16;
}

.input__info {
    color: var(--color-13);
}

.input__error {
    display: none;
    color: var(--color-5);
}

.wrapper {
    width: 100%;
    max-width: var(--maxWidthWrapper);
    min-height: 100%;
    padding: var(--header-height) 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper_no-padding {
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 var(--containerPadding);
    max-width: calc(var(--maxWidthContainer) + var(--containerPadding) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
    display: block;
}

.logo__text {
    font-size: 1.313rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--font-color-logo);
}

.title {
    margin: 0 0 0.8em 0;
    display: block;
    font-size: 1.563rem;
    line-height: 1.16;
    font-weight: 500;
    color: var(--font-color-title);
}

.title__subtitle {
    padding: 1.25em 0 0 0;
    display: block;
    font-size: 0.48em;
}

.title__subtitle:first-child {
    padding: 0.833em 0 0 0;
}

.title__subtitle_light {
    color: var(--color-13);
}

.title__subtitle_justify {
    text-align: justify;
}

.header {
    width: 100%;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--header-z-index);
    background-color: var(--background-color-primary);
    box-shadow: 0px 5px 29px -19px rgba(34, 60, 80, 0.2);
}

.header__container {
    flex: 1 1 100%;
}

.header__row {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 30px 0 0;
}

.header__cabinet-button,
.header__menu-button {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
}

.header__cabinet-button svg,
.header__menu-button svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-7);
}

.header__cabinet-button {
    margin: 0 20px 0 auto;
}

.header-menu {
    width: 100%;
    height: 100%;
    padding: 0 0 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--header-menu-z-index);
    background-color: var(--background-color-primary);
    transform: translate3d(0, -105%, 0);
    pointer-events: none;
    transition: transform 0.2s linear;
}

.header-menu .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-menu.active {
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
}

.header-menu__head {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-8);
}

.header-menu__logo {
    margin: 0 30px 0 0;
}

.header-menu__close-button {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
}

.header-menu__close-button svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-7);
}

.header-menu__items {
    flex: 0 1 auto;
    overflow: auto;
}

.header-menu__items_bb {
    margin: 0 0 25px 0;
    border-bottom: 1px solid var(--color-8);
}

.header-menu__item:not(:last-child) {
    border-bottom: 1px solid var(--color-8);
}

.header-menu__link {
    padding: 1.667em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--font-color-primary);
    transition: color 0.1s linear;
}

.header-menu__link::after {
    content: "";
    flex: 0 0 1.667em;
    width: 1.667em;
    height: 1.667em;
    margin: 0 0 0 10px;
    display: block;
    border-radius: 50%;
    background-color: var(--color-8);
    background-image: url("../images/header/arrow_01.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.833em 0.833em;
    transition: background 0.1s linear;
}

.header-menu__link.active {
    color: var(--color-5);
}

.header-menu__link.active::after {
    background-color: var(--color-5);
    background-image: url("../images/header/arrow_02.svg");
}

.header-menu__button {
    margin: auto 0 0 0;
}

.range-slider {
    background-color: var(--color-6);
}

.range-slider__container {
    padding: 0 var(--containerPadding) 40px;
}

.range-slider__baner {
    width: 100%;
    height: 0;
    padding: 0 0 26.875% 0;
}

.range-slider__results {
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 7px;
    background-color: var(--color-4);
}

.range-slider__total-sum,
.range-slider__return,
.range-slider__repay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
}

.range-slider__total-sum span,
.range-slider__return span,
.range-slider__repay span {
    padding: 0 0 0 5px;
}

.range-slider__total-sum {
    margin: 0 0 0.75em 0;
    font-size: 1rem;
}

.range-slider__total-sum span {
    font-size: 1.25em;
    line-height: 1.18;
    font-weight: 700;
}

.range-slider__return,
.range-slider__repay {
    font-size: 0.85rem;
}

.range-slider__return {
    margin: 0 0 0.417em 0;
}

.range-slider__return span {
    font-weight: 900;
    color: var(--color-10);
}

.range-slider__link {
    min-height: 65px;
}

.range-slider__body {
    padding: 60px 10px 60px 10px;
}

.range-slider__body .noUi-target {
    height: 6px;
    border-radius: 5px;
    background-color: var(--color-4);
    border: none;
    box-shadow: none;
}

.range-slider__body .noUi-target .noUi-connect {
    background-color: var(--color-11);
}

.range-slider__body .noUi-horizontal .noUi-tooltip {
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--font-color-primary);
    bottom: 105%;
    border: none;
    background: none;
}

.range-slider__body .noUi-horizontal .noUi-handle {
    width: 40px;
    height: 40px;
    top: -18px;
    right: -20px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.range-slider__body .noUi-horizontal .noUi-handle::before {
    display: none;
}

.range-slider__body .noUi-horizontal .noUi-handle::after {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    border-radius: 50%;
    background-color: var(--color-5);
}

.range-slider__group:not(:last-child) {
    margin: 0 0 95px 0;
}

.noUi-pips .noUi-value.noUi-value-horizontal.noUi-value-large {
    font-size: 0.9rem;
    position: static;
    transform: none;
}

.noUi-pips.noUi-pips-horizontal.noUi-pips-horizontal {
    padding: 25px 0 0 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
}

.noUi-marker-horizontal.noUi-marker-large,
.noUi-marker-horizontal.noUi-marker {
    display: none;
}

.steps {
    padding: 10px 0;
    background-color: var(--color-4);
}

.steps__item {
    padding: 32px 0 15px 22px;
    position: relative;
}

.steps__item:not(:last-child) {
    border-bottom: 1px solid var(--color-8);
}

.steps__icon {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}

.steps__name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
    position: relative;
    z-index: 2;
}

.paycards {
    padding: 25px 0;
    background-color: var(--color-6);
}

.paycards__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    border: 1px solid var(--color-8);
    border-radius: 7px;
    overflow: hidden;
}

.paycards__item {
    padding: 15px;
    margin: 0 -1px -1px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-8);
    border-right: 1px solid var(--color-8);
}

.dignities {
    padding: 25px 0;
    background-color: var(--color-4);
    background-image: url("../images/dignities/bg_01.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 148px 233px;
}

.dignities__items {
    max-width: 350px;
}

.dignities__item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-8);
}

.dignities__item:first-child {
    padding: 0 0 15px 0;
}

.dignities__item:last-child {
    padding: 15px 0 0 0;
    border: none;
}

.dignities__icon {
    flex: 0 0 12.963%;
    width: 12.963%;
    height: 0;
    padding: 0 0 12.963% 0;
    margin: 0 10px 0 0;
}

.dignities__text {
    display: block;
    font-size: 0.75rem;
    line-height: 1.16;
    font-weight: 700;
    color: var(--font-color-primary);
}

.main-application {
    padding: 25px 0;
    background-color: var(--color-6);
}

.main-application__image {
    width: 100%;
    height: 0;
    padding: 0 0 54.074% 0;
    margin: 0 0 20px 0;
    border-radius: 15px;
    overflow: hidden;
}

.main-application__label {
    margin: 0 0 1em 0;
    display: block;
    font-size: 1.25rem;
    line-height: 1.16;
    font-weight: 500;
    color: var(--font-color-primary);
}

.main-application__list li {
    padding: 0 0 0 1em;
    display: block;
    font-size: 0.75rem;
    line-height: 1.16;
    text-align: justify;
    font-weight: 700;
    color: var(--font-color-primary);
    position: relative;
}

.main-application__list li:not(:last-child) {
    margin: 0 0 1.25em 0;
}

.main-application__list li::before {
    content: "";
    width: 0.167em;
    height: 0.667em;
    display: block;
    background-color: var(--color-5);
    position: absolute;
    top: 0.167em;
    left: 0;
}

.main-application__list li a {
    color: var(--color-5);
}

.statistics {
    padding: 25px 0;
    background-color: var(--color-5);
}

.statistics__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 110px));
    justify-content: center;
    gap: 33px;
}

.statistics__icon {
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
    margin: 0 0 15px 0;
}

.statistics__value {
    margin: 0 0 0.313em 0;
    display: block;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.18;
    color: var(--color-6);
}

.statistics__name {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.18;
    color: var(--color-6);
}

.reviews {
    padding: 20px 0 25px;
    background-color: var(--color-6);
}

.reviews__swiper.swiper {
    overflow: visible;
}

.reviews__pagination.swiper-pagination {
    --swiper-pagination-color: var(--color-5);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: var(--color-8);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    margin: 20px 0 0 0;
    position: static;
}

.reviews__pagination.swiper-pagination .swiper-pagination-bullet {
    transition: background 0.2s linear;
}

.reviews__user-name,
.reviews__text {
    display: block;
    font-size: 0.75rem;
    line-height: 1.16;
    font-weight: 500;
    color: var(--font-color-primary);
}

.reviews__user-name {
    margin: 0 0 0.833em 0;
    color: var(--color-13);
}

.reviews__text {
    text-align: justify;
}

.questions {
    padding: 25px 0;
    background-color: var(--color-4);
}

.questions__ac-item {
    padding: 0 15px 5px 15px;
    border-radius: 7px;
    background-color: var(--color-6);
}

.questions__ac-item:not(:last-child) {
    margin: 0 0 5px 0;
}

.questions__ac-button,
.questions__ac-body {
    font-size: 0.75rem;
    line-height: 1.16;
    font-weight: 500;
    color: var(--font-color-primary);
}

.questions__ac-button {
    padding: 15px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.2s linear;
}

.questions__ac-button.active {
    color: var(--color-5);
}

.questions__ac-button.active .questions__ac-icon {
    transform: rotate(180deg);
    background-color: var(--color-5);
}

.questions__ac-button.active .questions__ac-icon svg {
    fill: var(--color-6);
}

.questions__ac-icon {
    flex: 0 0 1.667em;
    width: 1.667em;
    height: 1.667em;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 50%;
    background-color: var(--color-8);
    transition: transform 0.2s linear, background 0.2s linear;
}

.questions__ac-icon svg {
    width: 0.833em;
    height: 0.833em;
    fill: var(--color-13);
    transition: fill 0.2s linear;
}

.questions__ac-body {
    padding: 0 0 10px 0;
    display: block;
    text-align: justify;
    color: var(--color-13);
}

.footer {
    background-color: var(--color-6);
}

.footer__header {
    min-height: var(--header-height);
    padding: 0 var(--containerPadding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-7);
}

.footer__logo {
    margin: 0 20px 0 0;
}

.footer__logo .logo__text {
    color: var(--color-6);
}

.footer__copyright {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--color-6);
}

.footer__actions {
    padding: 5px 0 25px;
}

.footer__link {
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-8);
}

.footer__icon {
    flex: 0 1 9.259%;
    height: 0;
    padding: 0 0 9.259% 0;
    margin: 0 15px 0 0;
}

.footer__text,
.footer__nav-item,
.footer__info-text {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
}

.footer__nav {
    padding: 0 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav-item {
    transition: color 0.1s linear;
}

.footer__nav-item:not(:last-child) {
    margin: 0 10px 0 0;
}

.footer__nav-item.active {
    color: var(--color-5);
}

.footer__info {
    padding: 25px var(--containerPadding);
    background-color: var(--color-4);
}

.footer__info-text {
    padding: 1.25em;
    text-align: justify;
    color: var(--color-13);
    border-radius: 0.583em;
    background-color: var(--color-6);
}

.footer__info-text:not(:last-child) {
    margin: 0 0 1.25em 0;
}

.footer__info-text a {
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
}

.footer__info-text span {
    padding: 0 0 0.833em 0;
    display: block;
    color: var(--font-color-primary);
}