@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --maxWidthWrapper: 576px;
    --containerPadding: 25px;
    --maxWidthContainer: calc(576px - var(--containerPadding) * 2);
    --header-height: 65px;
    --font-size-input: 1.25rem;
    --color-1: #afb0c8;
    --color-2: #565d93;
    --color-3: #f2b943;
    --color-4: #f3f4f2;
    --color-5: #e76769;
    --color-6: #ffffff;
    --color-7: #2c2e40;
    --color-8: #dee3e6;
    --color-9: #636263;
    --color-10: #75bc6a;
    --color-11: #ccd5da;
    --color-12: #af4c4e;
    --color-13: #959da1;
    --font-color-primary: #2c2e40;
    --font-color-logo: #2c2e40;
    --font-color-title: #2c2e40;
    --button-font-color-primary: #ffffff;
    --button-color-primary: #e76769;
    --button-color-primary-stroke: #af4c4e;
    --button-color-primary-hover: #af4c4e;
    --button-font-color-secondary: #959da1;
    --button-color-secondary: #f3f4f2;
    --button-color-secondary-stroke: #dee3e6;
    --button-color-secondary-hover: #dee3e6;
    --background-color-primary: #ffffff;
    --header-z-index: 1998;
    --header-menu-z-index: 1999;
    --popup-z-index: 1999;
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
}

body {
    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--font-color-primary);
    background-color: var(--background-color-primary);
}

body.no-scroll {
    overflow: hidden;
}

.button {
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--button-font-color-primary);
    border-radius: 7px;
    background-color: var(--button-color-primary);
    box-shadow: 0px -2px 0px 0px var(--button-color-primary-stroke) inset;
    outline: none;
    border: none;
}

.button_secondary {
    color: var(--button-font-color-secondary);
    background-color: var(--button-color-secondary);
    box-shadow: 0px -2px 0px 0px var(--button-color-secondary-stroke) inset;
}

.button_sm {
    width: auto;
    min-height: 40px;
    padding: 0 2.5em;
    font-size: 0.75rem;
}

/*
<div class="input" data-input-required>
  <span class="input__label input__label_required"
    >Обязательное поле</span
  >
  <input class="input__main" type="text" placeholder="Ведите текст"/>
  <p class="input__info">Для получения договора и документов об оплате</p>
  <p class="input__error">Заполните поле</p>
</div>
*/
.input {
    font-size: var(--font-size-input);
    color: var(--font-color-primary);
}

.input.error .input__error {
    display: block;
}

.input.error .input__main {
    border-color: var(--color-5);
}

.input__label {
    margin: 0 0 0.5em 0;
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
}

.input__label_required::after {
    content: "*";
    padding: 0 0 0 0.1em;
    font-size: 1em;
    color: var(--color-5);
}

.input__main {
    width: 100%;
    min-height: 2em;
    padding: 0 0.75em;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
    border: 1px solid var(--color-8);
    border-radius: 0.35em;
    transition: border 0.15s linear;
}

.input__main::-moz-placeholder {
    color: var(--color-13);
}

.input__main::placeholder {
    color: var(--color-13);
}

.input__main:focus {
    border-color: var(--color-13);
}

textarea.input__main {
    padding: 0.6em 0.75em;
    height: 4.35em;
    resize: none;
}

.input__info,
.input__error {
    margin: 0.545em 0 0 0;
    display: block;
    font-size: 0.55em;
    font-weight: 500;
    line-height: 1.16;
}

.input__info {
    color: var(--color-13);
}

.input__error {
    display: none;
    color: var(--color-5);
}

.wrapper {
    width: 100%;
    max-width: var(--maxWidthWrapper);
    min-height: 100%;
    padding: var(--header-height) 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper_no-padding {
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 var(--containerPadding);
    max-width: calc(var(--maxWidthContainer) + var(--containerPadding) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.form__group {
    margin: 0 0 30px 0;
}

.form__input:not(:last-child),
.form__select:not(:last-child) {
    margin: 0 0 15px 0;
}

.form__notification {
    display: block;
    font-size: 0.917em;
    font-weight: 500;
    line-height: 1.16;
    color: var(--color-5);
}

.form__buttons {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__buttons .form__prev {
    margin: 0 7px 0 0;
}

.form__prev,
.form__next {
    flex: 0 1 8.125rem;
}

.form__next {
    margin: 0 0 0 auto;
}

.autocomplete-suggestions {
    padding: 0.938em;
    font-size: 1rem;
    overflow: auto;
    transform: translate(0, 5px);
    border: 1px solid var(--color-13);
    border-radius: 0.438em;
    background: var(--color-6);
}

.autocomplete-suggestion {
    padding: 0.625em 0;
    border-bottom: 1px solid var(--color-13);
    font-size: 1em;
    white-space: nowrap;
    font-weight: 500;
    color: var(--color-13);
    overflow: hidden;
}

.autocomplete-suggestion:first-child {
    padding: 0 0 0.625em 0;
}

.autocomplete-suggestion:last-child {
    padding: 0.625em 0 0 0;
    border-bottom: none;
}

.autocomplete-selected {
    color: var(--font-color-primary);
}

.autocomplete-suggestions strong {
    font-weight: 500;
    color: var(--font-color-primary);
}

.single-form .content {
    padding: 2.5rem 0 3.75rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-form__body {
    flex: 1 1 auto;
}

.single-form__text {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--color-4);
}

.single-form__text p:not(:last-child) {
    padding: 0 0 0.5rem 0;
}

.single-form__footer {
    padding: 50px 0;
    background-color: var(--color-7);
}

.single-form__footer-row .single-form__text {
    margin: 0 0 20px 0;
}

.single-form__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.single-form__logo {
    flex: 0 1 55px;
}

.single-form__logo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (min-width: 576px) {
    .single-form__logo {
        flex: 0 1 70px;
    }
}